<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SearchForProduct</servlet-name>
        <servlet-class>org.yourcart.controller.SearchForProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSlider</servlet-name>
        <servlet-class>org.yourcart.controller.AddSlider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSlider</servlet-name>
        <servlet-class>org.yourcart.controller.DeleteSlider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SlidersShow</servlet-name>
        <servlet-class>org.yourcart.controller.SlidersShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdvertisement</servlet-name>
        <servlet-class>org.yourcart.controller.AddAdvertisement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAdvertisement</servlet-name>
        <servlet-class>org.yourcart.controller.ShowAdvertisement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdvertisement</servlet-name>
        <servlet-class>org.yourcart.controller.DeleteAdvertisement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchForProduct</servlet-name>
        <url-pattern>/SearchForProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSlider</servlet-name>
        <url-pattern>/AddSlider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSlider</servlet-name>
        <url-pattern>/DeleteSlider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SlidersShow</servlet-name>
        <url-pattern>/SlidersShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdvertisement</servlet-name>
        <url-pattern>/AddAdvertisement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAdvertisement</servlet-name>
        <url-pattern>/ShowAdvertisement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdvertisement</servlet-name>
        <url-pattern>/DeleteAdvertisement</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
